# SQLite database & journals
*.db
*.db-journal
*.db-shm
*.db-wal
*.sqlite
*.sqlite3
*.sqlite-shm
*.sqlite-wal

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
env/
.venv/

# macOS metadata
.DS_Store
